/* Estilos da barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #FF99A7; /* Cor de fundo do polegar */
    border-radius: 8px; /* Raio das bordas do polegar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #1b1919; /* Cor de fundo da pista */
  }
  /* Altera a cor do cursor do mouse em todo o site */
