/* CarouselAcessoRapido.css */
.carouselAcessoRapido .swiper-slide {
  display: flex;
  justify-content: center;
  height: auto;
 
}

.carouselAcessoRapido .swiper {
  padding: 40px;
}

.carouselAcessoRapido .swiper-button-prev {
  font-size: 5px; /* Defina o tamanho desejado para as setinhas */
}
/* Rest of your CSS styles */
/* styles.css */

/* Importe os estilos do Swiper */

.carouselAcessoRapido .swiper-pagination-bullet {
  background-color: #363636; /* Altere para a cor desejada */
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 20px;
  color: #363636;
  font-weight: bolder; /* Defina o tamanho desejado para as setinhas */
}
